.bugs {
  margin-top: 40rem;
  height: 80rem;
  background-image: url('/images/white.jpg');
  background-position: center;
  background-size: cover;
  .bugsMenu {
    height: 7rem;
    // border: solid blue;
    margin-top: 2rem;
    background-color: #3d86ca;
    box-shadow: 20px 20px 50px gray;
    p{
      font-family: 'Lato', sans-serif;
      font-size: 3rem;
      // border: solid red;
      text-align: center;
      color: black;
      margin-top: 2rem;
    }
  }
}