.sectionfooter {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', ;
  overflow-x: hidden;
  border: solid 1px lightgrey;
  div.footerSection1 {
    // border:solid blue;
    display: flex;
    flex-direction: row;
    @media @main {
      flex-direction: column;
      text-align: center;
      align-self: center;
    }
    .col1 {
      width: 33%;
      text-align: center;
      padding: 2rem;
      @media @main {
        text-align: center;
        align-self: center;
      }
      img {
        width: 12rem;
        @media @main {
          width: 8rem;
          margin-left: 0;
        }
        @media @mobile {
          width: 5rem;
        }
      }
      a {
        text-decoration: none;
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        :hover {
          background-color: #00b33c;
          color: white;
          transition: 0.6s;
          cursor: pointer;
        }
        h2 {
          font-size: 2rem;
          text-decoration: none;
          color: black;

        }
      }
      a {
        text-decoration: none;
        color: black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        :hover {
          background-color: #00b33c;
          color: white;
          transition: 0.6s;
          cursor: pointer;
        }
        p {
          margin-top: 1rem;
        }
      }
    }
    .col2 {
      width: 33%;
      text-align: center;
      padding: 2rem;
      margin-top: 2rem;
      @media @main {
        text-align: center;
        align-self: center;
      }
      a{
        text-decoration: none;
        :hover {
          background-color: #00b33c;
          color: white;
          transition: 0.6s;
          cursor: pointer;
        }
        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
          text-align: center;
          color: black;
          text-decoration: none;
        }
      }
      p {
        line-height: 1.5rem;
        text-align: center;
      }
    }
    .col3 {
      width: 33%;
      text-align: center;
      padding: 2rem;
      @media @main {
        text-align: center;
        align-self: center;
      }
      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
      }
      p.bold {
        line-height: 1.5rem;
        font-size: 1.2rem;
        text-decoration: underline;
        text-align: center;
      }
      p {
        line-height: 2rem;
        text-align: center;
      }
    }
  }
  div.footerSection2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    padding: 3rem;
    font-family: 'Raleway', ;
    text-align: center;
    p {
      font-family: 'Raleway', ;
      color: white;
      margin-bottom: 2rem;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }
}