.sectionfooter {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', ;
  div.footerSection1 {
    // border:solid blue;
    display: flex;
    flex-direction: row;
    .col1 {
      width: 33%;
      text-align: center;
    }
    .col2 {
      width: 33%;
      text-align: center;
    }
    .col3 {
      width: 33%;
      text-align: center;
    }
  }
  div.footerSection2 {
    // border: solid red;
  }
}