div.footerContainer {
  display: flex;
  background-color: #3d86ca;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 15%;
  padding-right: 15%;
  div.box1 {
    width: 33%;
    h2 {
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      color: white;
      padding-bottom: 2rem;
    }
  }
  div.box2 {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
    a {
      padding: .5rem;
      text-decoration: none;
      color: white;
    }
  }
  div.box3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    a {
      padding: .5rem;
      text-decoration: none;
      color: white;
    }
  }
}