.nav1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  border: solid 1px lightgrey;
  div {
    margin-right: 2rem;
    // border-right: solid 1px lightgrey;
    text-align: center;
    :hover {
      background-color: #7fb742;
      color: white;
      transition: 0.6s;
      cursor: pointer;
    }
    a p {
      font-family: 'Raleway', ;
      padding: .4rem;
    }
  }
}